extends layout

block content
  h1= title

  // multiplication form
  form(method='POST' action='/')
    label(for='multiplicationbox') Tala eða tölur:
    textarea#multiplicationbox.form-control(type='text', rows="5", name="multiplicationbox", placeholder="")
    button.btn.btn-primary(type='submit') Margfalda og finna þætti