extends layout

block content
  h1= title
  label(for='numberbox') Tala eða tölur
  br
  textarea#text.form-control(rows="5", name="text", placeholder="")
  br
  button.btn.btn-primary(type="submit", onclick="multiply()") Margfalda og finna þætti
  script.
    function multiply() {
      window.location.href = '/results'
    }